/* for font import*/

@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Cherish&display=swap');

/* font-family: 'Amethysta', serif;
font-family: 'Cherish', cursive; */

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* body scroll */

/* Add scroll bar here!!*/

/* Header */

header {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
}

header a, menu li a {
    text-decoration: none;
    color: white;
}

header h1 {
    text-align: center;
    font-size: 900%;
    font-family: 'Cherish', cursive, sans-serif;
}


#menu {
    text-align: center;
    margin-top: 30px;
}

#menu li {
    font-size: 130%;
    display: inline-block;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#menu li:hover {
    border-color: gold;    
}

#menu li a {
    font-family: 'Amethysta', sans-serif;
}



/* background */

body {
    background-image: url("/assets/images/pexels-photo-260922.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
    font-family: 'Amethysta', serif;
}



/* section */

section {
    margin: 10vh;
}

#index h2 {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Amethysta', serif;
}

/* footer */

footer {
    height: 5vh;
    margin: 10px;
}

footer p {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


/* Main Menu */

.mainmenu {
    text-align: center;
    color: white;
    background-color: rgba(19, 19, 19, 0.692);
    width: 75%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.mainmenu ul {
    font-size: 120%;
    font-weight: 300;
    list-style-type: none;
}

.menu-font {
    font-size: 250%;
    text-decoration: underline;
}


.mainmenu ul p {
    font-size: 80%;
}

.price {
    text-align: right;
}

/* drinks */

.cocktails {
    text-align: center;
    color: white;
    background-color: rgba(19, 19, 19, 0.692);
    width: 50%;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cocktails ul {
    font-size: 120%;
    font-weight: 300;
    list-style-type: none;
}

.cocktails-font {
    font-size: 250%;
    text-decoration: underline;
}

.cocktails ul p {
    font-size: 80%;
}

/* book table */

.booktable {
    margin: 15vh auto;

}

.booktable form {
    color: white;
    text-align: center;
    font-size: 25px;
    background: rgba(19, 19, 19, 0.692);
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 480px;
    display: block;
    border-radius: 20px;
}

/* contact us */


/* Portable devices */