/* for font import */

@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Cherish&display=swap');

/* font-family: 'Amethysta', serif;
font-family: 'Cherish', cursive; */

* {
    padding: 0;
    margin: 0;
    border: none;
}



/* Header */


nav {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
}

header a, menu li a {
    text-decoration: none;
    color: white;
}

header h1 {
    text-align: center;
    font-size: 900%;
    font-family: 'Cherish', cursive, sans-serif;
}


#menu {
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#menu li {
    font-size: 130%;
    display: inline-block;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;

}

#menu li:hover {
    border-color: gold;    
}

#menu li a {
    font-family: 'Amethysta', sans-serif;
}



/* background */

body {
    background-image: url("../images/pexels-photo-260922.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
    font-family: 'Amethysta', serif;
}



/* main part of body */

div {
    margin: 10vh;
}

#index h2 {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Amethysta', serif;
}

/* footer */

footer {
    height: 5vh;
    margin: 10px auto;
}

footer p {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


/* main menu */

.flex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 700px;
    background-color: rgba(19, 19, 19, 0.692);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}


.price {
    display: flex;
    justify-content: space-between;
    margin: 0;
}


.menu-item * {
    list-style-type: none;
    margin: 5px 0;
}

.menu-item p {
    color: silver;
    font-weight: 200;
    font-size: 14px;
    flex-grow: 0;
    padding-bottom: 5px;
}

.menu-item div li {
    font-size: 20px;
    font-weight: 500;
}

.flex h3, h2 {
    text-align: center;
}

.menu-head {
    font-size: 26px;
}

/* drink menu */

/* book table */

.booktable {
    margin: 0 auto;
    text-align: center;
}

.booktable h2 {
    font-size: 25px;
}

.booktable form {
    color: white;
    font-size: 20px;
    background: rgba(19, 19, 19, 0.692);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 500px;
    display: block;
    border-radius: 20px;
}

input[type=submit] {
    margin: 5px;
    width: 60px;
    height: 25px;
}



/* contact us */

.contact {
    margin: 0 auto;
    text-align: center;
}

.contact form {
    color: white;
    font-size: 20px;
    background: rgba(19, 19, 19, 0.692);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 420px;
    display: block;
    border-radius: 20px;
}

/* Portable devices */

          
/* Media Query for Mobile Devices */
@media (max-width: 480px) {



}
          
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
   

}
          
/* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){

}
          
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}




