/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* for font import */

@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Lato:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --white: #ffffff;
    --gold: #ffd700;
    --bg: #131313b0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-image: url("../images/background-picture.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/* Header */

nav {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
}

.logo {
    text-decoration: none;
    color: var(--white);
    text-align: center;
    font-size: 9rem;
    font-family: 'Cherish', cursive;
}

#menu li a {
    text-decoration: none;
    color: var(--white);
}

#menu {
    top: 1px;
    position: fixed;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 9999999;
}

#menu li {
    font-size: 2rem;
    display: inline-block;
    width: 20rem;
    border: 0.2rem solid var(--white);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

}

#menu li:hover {
    border-color: var(--gold);
}

/* main part of body */

#welcome h2 {
    text-align: center;
    color: var(--white);
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

#welcome #margin {
    margin-bottom: 55rem;
}

/* footer */

footer {
    height: 5vh;
    margin: 1rem auto;
}

footer p {
    color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* main menu */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--white);
    padding: 2rem 2rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 100rem;
    background-color: rgba(19, 19, 19, 0.69);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 2.5rem;
}

.price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
}

.menu-item-all {
    list-style-type: none;
    margin: 0.5rem 0;
}

.menu-item p {
    color: var(--gold);
    font-weight: 200;
    font-size: 1.4rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-bottom: 0.5rem;
}

.menu-item ul li {
    font-size: 2rem;
    font-weight: 500;
}

.center,
.changes {
    text-align: center;
}

.menu-head {
    font-size: 2.6rem;
}

#food {
    margin-bottom: 25rem;
}

/* drink menu */

.cocktails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--white);
    padding: 2rem 2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100rem;
    background-color: rgba(19, 19, 19, 0.692);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 2.5rem;
}

.cocktail-menu {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;

}

.cocktail-item-all {
    list-style-type: none;
    margin: 0.5rem 0;
}

.cocktail-item li {
    font-size: 2rem;
    font-weight: 500;
}

.cocktail-item div {
    font-size: 1.8rem;
}

.cocktail-item p {
    color: var(--gold);
    font-weight: 200;
    font-size: 1.4rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-bottom: 0.5rem;
}

#drink {
    margin-bottom: 25rem;
}

/* book table */

.booktable {
    margin-top: 20rem;
    margin-bottom: 73rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.booktable h2 {
    font-size: 2.5rem;
}

.booktable form {
    color: var(--white);
    font-size: 2rem;
    background: rgba(19, 19, 19, 0.692);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 43rem;
    padding: 2rem;
    border-radius: 2rem;
}

button {
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: var(--gold);
}

button:hover {
    background-color: var(--bg);
    color: var(--white);
    border: 2px solid var(--white);
}

form input {
    height: 3rem;
    margin: 1rem;
    border-radius: 3px;
}

textarea {
    border-radius: 3px;
}

#tel-email-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#date-time {
    width: 100%;
    margin-bottom: 4px;
}

/* Thank you website for booking form */

.thank-you {
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 10rem auto;
    width: 40rem;
    height: 30rem;
    background-color: var(--bg);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
}

.thank-you p {
    font-size: 2rem;
    padding: 2rem;
}

.thank-you h2 {
    font-size: 3rem;
    padding: 2rem;
}

.thank-you a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--bg);
    background-color: var(--gold);
    border: 2px solid var(--white);
    width: 10rem;
    height: 6rem;
    margin: 2rem auto;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.thank-you a:hover {
    color: var(--white);
    background-color: var(--bg);
    border: 1px solid var(--white);
}

/* about us*/

.aboutus {
    color: var(--white);
    background: rgba(19, 19, 19, 0.692);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    width: 55rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.aboutus p {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

iframe {
    width: 55rem;
    height: 45rem;
    border: 0;
}

/* Hiding hamburger menu and its content */

#hamburger-menu {
    display: none;
}

#ham-nav {
    display: none;
}

#ham-menu input {
    display: none;
}

/* Portable devices */

/* Large Devices aka Desktops */

@media (max-width: 1024px) {

    .flex {
        width: 90%;
    }

    .cocktails {
        width: 90%;
    }

    .aboutus {
        width: 90%;
    }

    .booktable {
        width: 90%;
    }

    /* map in about us */

    iframe {
        width: auto;
    }

    /* Hamburger menu */

    #hamburger-menu {
        display: none;
    }

    #ham-nav {
        display: none;
    }

    #ham-menu input {
        display: none;
    }
}

/* Medium Devices aka Tablets */

@media (max-width: 768px) {

    .flex {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .cocktails {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .aboutus {
        width: 90%;
    }

    .booktable {
        width: 90%;
        height: auto;
    }

    /* map in about us */

    iframe {
        width: auto;
    }

    /* Hamburger menu */

    #hamburger-menu {
        display: none;
    }

    #ham-nav {
        display: none;
    }

    #ham-menu input {
        display: none;
    }
}

/* Small Devices aka Mobile Phones */

@media (max-width: 576px) {

    .flex {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .cocktails {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .booktable {
        width: 90%;
        margin-left: 1.8rem;
        margin-top: 30rem;
        margin-bottom: 30rem;
    }

    .booktable form {
        height: auto;
        width: 90%;
    }

    div#fullname {
        width: auto
    }

    textarea {
        width: 80%;
    }

    .aboutus {
        width: 90%;
    }

    /* Map in about us */

    iframe {
        width: auto;
    }

    /* Thank you page */

    .thank-you {
        width: 90%;
        margin: auto;
        height: auto;
    }

    /* Hiding unnecessary content */

    header h1 {
        display: none;
    }

    #menu {
        display: none;
    }

    /* Hamburger Menu */

    #hamburger {
        display: none;
    }

    #hamburger-menu {
        background-color: var(--bg);
        width: 100%;
        height: 6rem;
        position: fixed;
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        z-index: 9999995;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #logo-burger {
        color: var(--white);
        font-family: 'Cherish', cursive;
        font-size: 5rem;
        padding-left: 1rem;
        text-decoration: none;
    }

    #hamburger-menu label {
        font-size: 3rem;
        padding: 1rem 2rem;
        color: var(--white);
    }

    #hamburger-menu label:hover {
        background: var(--gold);
    }

    #ham-nav {
        position: fixed;
        display: block;
        list-style-type: none;
        width: 100%;
        margin-top: 6rem;
        font-size: 2rem;
        background-color: var(--bg);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        border-top: 1px solid var(--gold);
        z-index: 999996;
    }

    #ham-nav li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
    }


    #ham-nav li a {
        font-size: 2rem;
        text-decoration: none;
        color: var(--white);
    }

    #ham-nav li a:hover {
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

    /* hiding menu */

    #ham-nav {
        display: none;
    }

    /* showing menu on checked */

    #ham-menu input:checked~#ham-nav {
        display: block;
    }
}